<div class="row">
  <div class="ng-fader" ng-show="vm.numberOfImages > 0">
    <!-- Images will render here. -->
    <ul>
      <li ng-repeat="image in images" ng-swipe-right="vm.sliderBack()" ng-swipe-left="vm.sliderForward()">
        <a ui-sref="{{ linkstate }}" ng-if="linkstate">
          <img data-ng-src="{{ image.url }}" data-ng-alt="{{ image.alt_text }}" ng-class="vm.show($index)"/>
        </a>
      </li>
    </ul>

    <!-- Controls will render here. -->
    <div class="ng-fader-controls" ng-show="vm.numberOfImages > 1">
      <ul>
        <li ng-click="vm.sliderBack()">
          <!-- <i class="ngfader-back"></i> -->
          <i class="glyphicon glyphicon-menu-left" 
             style="text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black"></i> 
        </li>
        <li ng-click="vm.sliderForward()">
          <!-- <i class="ngfader-forward"></i> -->
          <i class="glyphicon glyphicon-menu-right" 
             style="text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black"></i> 
        </li>
      </ul>
    </div>
  </div>
</div>