<div class="row">
  <div class="ng-fader" ng-show="slideVm.numberOfImages > 0">
    <!-- Images will render here. -->
    <ul>
      <li ng-repeat="image in images" ng-swipe-right="slideVm.sliderBack()" ng-swipe-left="slideVm.sliderForward()">
        <img data-ng-src="{{ image.url }}" data-ng-alt="{{ image.alt_text }}" ng-class="slideVm.show($index)"/>
      </li>
    </ul>

    <!-- Controls will render here. -->
    <div class="ng-fader-controls" ng-show="slideVm.numberOfImages > 1">
      <ul>
        <li ng-click="slideVm.sliderBack()">
          <!-- <i class="ngfader-back"></i> -->
          <i class="glyphicon glyphicon-menu-left" 
             style="text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black"></i> 
        </li>
        <li ng-click="slideVm.sliderForward()">
          <!-- <i class="ngfader-forward"></i> -->
          <i class="glyphicon glyphicon-menu-right" 
             style="text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black"></i> 
        </li>
      </ul>
    </div>
  </div>
</div>