<!DOCTYPE html>
<html>
<head>
  <title>Evans</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'font-awesome', media: 'all', 'data-turbolinks-track' => true %>
  
  <script src="/assets/moment/es.js" data-turbolinks-track="true"></script>

  <%= csrf_meta_tags %>
</head>
<body ng-app="evansClient">

  <div ui-view=''></div>

</body>
</html>
