<!DOCTYPE html>
<html lang="es" ng-app="evansClient">
  <head>
    <title>InRoom - Encontra el hogar de tus sueños</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'font-awesome', media: 'all', 'data-turbolinks-track' => true %>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
  </head>
  <body class="{{ bodyClass }}">

    <div ui-view=''></div>

  </body>
</html>
